@{
    ViewBag.Title = "Home Page";
}

    @*<style>
        .jumbotron {
            background-color: rgba(181, 170, 145, 1);
        }
    </style>*@
<div class="jumbotron">
        <h1>Jewelry Materials Inventory</h1>
        <p class="lead">This is an ASP.NET app using the Model View Controller model. The premise is that you make jewelry and therefore need to track not only your actual supplies, but where you store them and where you got them (if you need to get more, etc.)<hr /></p>
        <p class="lead">
            Once you've entered a few of your regular sources, you should move on to entering the location in which you store your materials. Following location, you can begin entering the actual supplies. They are broken down into 3 classes, Beads, Stringing Materials, and Findings (all the little pieces that makeup the rest, like clasps, spacers, bead caps, etc.)
        </p>
        @*   <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@